In [64]:
# Dependencies and setup
import gmaps
import pandas as pd
import numpy as np
import requests
import json

# Import API Key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [65]:
# Open the csv file containing daily new Covid-19 cases and read the file as a data frame
df = pd.read_csv('/Users/kiranrangaraj/Desktop/Classwork/Group-Project/output_data/DailyCount.csv')
df.dropna(inplace = True) 
df

           State        Date  Daily_Count
0    Connecticut  2020-03-08            0
1    Connecticut  2020-03-09            0
2    Connecticut  2020-03-10            1
3    Connecticut  2020-03-11            1
4    Connecticut  2020-03-12            3
..           ...         ...          ...
776        Texas  2020-07-13         5655
777        Texas  2020-07-14        10745
778        Texas  2020-07-15         7307
779        Texas  2020-07-16        10291
780        Texas  2020-07-17        14916

[781 rows x 3 columns]

In [66]:
# Add latitude and longitude coordinates for each state
florida_lat = 27.6648
florida_long = -81.5158
georgia_lat = 32.1656
georgia_long = -82.9001
texas_lat = 31.9686
texas_long = -99.9018
newyork_lat = 40.7128
newyork_long = -74.0060
newjersey_lat = 40.0583
newjersey_long = -74.4057
connecticut_lat = 41.6032
connecticut_long = -73.0877

In [67]:
# Calculate the average daily new Covid-19 cases for each state to serve as intensity weights on the heat map
connecticut = df[df['State'] == 'Connecticut']['Daily_Count'].mean()
florida = df[df['State'] == 'Florida']['Daily_Count'].mean()
georgia = df[df['State'] == 'Georgia']['Daily_Count'].mean()
newjersey = df[df['State'] == 'New Jersey']['Daily_Count'].mean()
newyork = df[df['State'] == 'New York']['Daily_Count'].mean()
texas = df[df['State'] == 'Texas']['Daily_Count'].mean()

In [68]:
# Create data frame containing all pertinent columns for the heat map
data = {'State':["Florida", "Georgia", "New Jersey", "New York", "Connecticut", "Texas"], 
        'Mean Daily Cases':[florida, georgia, newjersey, newyork, connecticut, texas],
        'Lat':[27.6648, 32.1656, 40.0583, 40.7128, 41.6032, 31.9686],
        'Long':[-81.5158, -82.9001, -74.4057, -74.0060, -73.0877, -99.9018]} 
  
# Create DataFrame 
heatmap_df = pd.DataFrame(data) 
  
# Print the output
heatmap_df

         State  Mean Daily Cases      Lat     Long
0      Florida       2406.169118  27.6648 -81.5158
1      Georgia       1106.442623  32.1656 -82.9001
2   New Jersey       1337.462121  40.0583 -74.4057
3     New York       2981.948529  40.7128 -74.0060
4  Connecticut        362.818182  41.6032 -73.0877
5        Texas       2500.065041  31.9686 -99.9018

In [69]:
# Store latitude and longitude in locations
locations = heatmap_df[["Lat", "Long"]]

In [72]:
# Plot the heat map
fig = gmaps.figure()

# Create the heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=True, max_intensity=3000,
                                 point_radius=45)


# Add the layer
fig.add_layer(heat_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))